<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.toilelibre.libe.athg2sms"
    android:theme="@android:style/Theme.Light"
    android:versionCode="33"
    android:versionName="1.5.0.0">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconv3"
        android:label="@string/app_name" >
        <receiver
            android:name=".androidstuff.sms.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS" 
    		android:enabled="true"
    		android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
            <intent-filter android:priority="500">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
        </receiver>
        <receiver
            android:name=".MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH" >
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <service
            android:name=".HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".androidstuff.api.carrier.Athg2SmsCarrierService"
            android:label="@string/carrier_service"
            android:permission="android.permission.BIND_CARRIER_SERVICES" >
            <intent-filter>
                <action android:name="android.service.carrier.ConfigService" />
            </intent-filter>
        </service>

        <service android:name=".androidstuff.service.ConvertService"/>
        <service android:name=".androidstuff.service.ExportService"/>

        <activity
            android:name=".EntryPoint"
            android:label="@string/app_title"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.MainMenu"
            android:label="@string/home_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.PatternEdition"
            android:label="@string/csedit_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.PatternListing"
            android:label="@string/cs_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.ConversionForm"
            android:label="@string/cf_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.Convert"
            android:label="@string/proceed_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.Export"
            android:label="@string/proceed_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.Done"
            android:label="@string/done_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.Error"
            android:label="@string/error_title" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidstuff.ui.ExportForm"
            android:label="@string/export_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
    </application>

</manifest>